{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='styles/auth.css') }}">
<title>Register</title>
{% endblock %}


{% block body %}
<h1>Регистрация</h1>
<form class="auth" location="/api/v1/auth/register" method="POST">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="nickname" placeholder="nickname">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Register">
</form>

<p>Уже зарегистрированы? <a href="/auth/login" style="color: #381efd;">Войти</a></p>

<script src="{{ url_for('static', path='scripts/auth.js') }}"></script>

{% endblock%}