{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='styles/recipe-cards.css') }}">
<title>Любимые рецепты</title>
{% endblock %}

{% block body %}
<h2>Любимые рецепты</h2>
<div class="recipes">
    <div class="recipe-cards">
        {% for recipe in recipes %}
        <div class="recipe-card">
            <a href="/recipes/{{ recipe.recipe_id }}" aria-label="{{ recipe.name }}">
                <img src="{{ recipe.image_link }}" alt="{{ recipe.name }}">
                <div class="recipe-details">
                    <h2>{{ recipe.name }}</h2>
                    <p>{{ recipe.description | truncate(100) }}</p>
                </div>
            </a>
            {% if user and recipe.is_favorite %}
            <button class="favorite-button favorite-button-del">Удалить из любимого</button>
            {% else %}
            <button class="favorite-button favorite-button-add">Добавить в любимое</button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<script src="{{ url_for('static', path='scripts/favorite.js') }}"></script>
{% endblock %}