{% extends 'base.html' %}

{% block head %}
<title>{{ recipe.name }}</title>
{% endblock %}


{% block body %}
<div class="recipe-container">
    <h1>{{ recipe.name }}</h1>
    <div class="image-container">
        <img src="{{ recipe.image_link }}" alt="{{ recipe.name }}">
    </div>
    <p>{{ recipe.description }}</p>
    <h2>Ингредиенты:</h2>
    <ul>
        {% for ingredient_name, value in recipe.ingredients.items() %}
        <li>{{ ingredient_name }} - {{ value }}</li>
        {% endfor %}
    </ul>
    <h2>Способ приготовления</h2>
    <p>{{ recipe.action_to_cook }}</p>
</div>
{% endblock %}